html {
    overflow-y: scroll;
    font-size: 20px;
}
  
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

body {
  font-weight: 200;
  max-width: 1200px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding-left: 3vw;
  padding-right: 3vw;
}

.page-area {
  position: relative;
  height: 100%;
  z-index: 1;
  /* background-color: rgb(236, 236, 236); */
}

h1 {
  font-weight: 200;
} 

h2 {
  font-weight: 300;
} 

#river {
  position: absolute;
  top: -1%;
  width: 100%;
  z-index: -1;
}  

#page-heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 5%;
  font-weight: 100;
  text-align: center;
  object-fit: cover;
  background-image: url(/resources/river-dart.svg);
  background-position: 50% 80%;
  background-size: cover;
} 

#company-title {
  max-width: 600px;
  font-size: 35px;
}

#logo {
  width: 150px;
}

#main-content {
  margin-top: 2vw;
}

#main-columns {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

#main-pic {
  width: 50%;
  object-fit: cover;
  background-image: url(/resources/main-pic.jpg);
  background-position: 40% 25%;
  background-size: cover;
}

#text-column {
  width: 50%;
}

#main-text {
  text-align: justify;
}

#second-pic {
  margin-top: 5vw;
  margin-bottom: 2vw;
  width: 100%;
}



@media only screen and (max-width: 900px) {

  #company-title {
    max-width: 450px;
    font-size: 30px;
  }

  #page-heading {
    background-size: contain;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  

  #main-columns {
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }

  #main-pic {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-image: url(/resources/main-pic.jpg);
    background-position: 40% 25%;
    background-size: cover;
  }
  
  #text-column {
    text-align: center;
    width: 100%;
  }
  
  #main-text {
    text-align: justify;
  }
}



@media only screen and (max-width: 500px) {

  html {
    font-size: 18px;
}

  #company-title {
    max-width: 450px;
    font-size: 23px;
  }

  #page-heading {
    background-size: contain;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: 130%;
  }
}  